.app {
	text-align: center;
}

.appHeader {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.input {
	margin: 5px;
	width: 300px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #f6f6f6;
	border-radius: 8px;
}

.buttonPlus {
	text-align: center;
	width: 150px;
	margin: 5px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	border-radius: 8px;
	background-color: aquamarine;
}

.buttonMinus {
	text-align: center;
	width: 150px;
	margin: 5px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	border-radius: 8px;
	background-color: rgb(231, 46, 46);
}

.intButton {
	width: 31px;
	border: 1px solid #cecece;
	border-radius: 5px;
}

.buttons {
	display: inline-block;
	width: 350px;
}

.buttonResult {
	margin: 5px;
	width: 150px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	border-radius: 8px;
	background-color: bisque;
}

.buttonClear {
	margin: 5px;
	width: 150px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	border-radius: 8px;
	background-color: #ccc;
}

.result {
	border: 1px solid #cecece;
	border-radius: 8px;
	background-color: aliceblue;
	text-align: center;
	width: 300px;
	color: black;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.resultColor {
	color: red;
}

button:hover {
	background-color: #ddd;
}

button:active {
	background-color: #ccc;
}
